#expand-icon {
  font-size: 2.5rem;
}

#professor-header {
  margin: auto 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#user-typography {
  display: flex;
}

#user-typography {
  align-self: center;
}

.unclicked-arrow,
.clicked-upward-arrow,
.clicked-downward-arrow {
  font-size: 2rem;
  stroke-width: 2.5;
}

.unclicked-arrow {
  stroke: #000000;
}

.clicked-upward-arrow {
  stroke: #008000;
}

.clicked-downward-arrow {
  stroke: #ff0000;
}
