#loading-text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  color: black;
  white-space: nowrap;
}

.rmp-tooltip {
  border-radius: 2px;
  padding: 0 5px 0 5px;
  font-size: 1rem;
  color: black;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

button.disabled,
button.enabled,
button.disabled:hover,
button.enabled:hover,
button:focus {
  background: none;
  border: none;
}

button.enabled,
button.enabled:focus {
  padding: 0 5px 3px 5px;
  outline: none !important;
}

#icon {
  min-height: 16px;
  min-width: 16px;
  height: 24px;
  color: black;
}
