.popUpForm {
  text-align: center;
  padding-top: 5%;
}

input {
  width: 200px;
  height: 25px;
  font-size: 20px;
  text-align: center;
}

.closebtn {
  position: fixed;
  right: 5px;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
